<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment 1</title>
  </head>

  <body>

    <h1>Books by My Author</h1>

    <a href="/books">View All Books</a>
    <a href="/order">Order a Book</a>

    <br />
    <br />

 {{!-- form data for book selection and copies --}}
    <form id="booksData" method="POST" action="/order">
      <div>
        <label for="selectBook">Select a Book:</label>
        <select id="selectBook" name="isbn">
          <option value="0">Select a Book</option>
          {{#each products}}
            <option value="{{this.isbn}}">{{this.title}}</option>
          {{/each}}
        </select>
        {{!-- display errors if there are any for book selection --}}
        {{#if errors.isbn}}
          <p style="font-style: italic;">{{errors.isbn}}</p>
        {{/if}}
      </div>
      <br />
      <div>
        <label for="numberOfCopies">Copies:</label>
        <div style="display: flex; align-items: center;">
          <input type="text" id="numberOfCopies" name="copies" />
           {{!-- display errors if there are any for copies selected --}}
          {{#if errors.copies}}
            <p style="font-style: italic;margin-left:8px">{{errors.copies}}</p>
          {{/if}}
        </div>

      </div>
      <br />
      <div>
        <button type="submit">Place Order</button>
      </div>
    </form>

    <br /><br />
    <i>copyright Suryakanth Gunnam</i>
  </body>

</html>